@model SeasonTracker.ViewModels.WatchListAddViewModel
@{
    ViewBag.Title = "Add Tv Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*This view is for Editing or Creating New Members*@

<h2>@Model.Member.MemberName, Select Tv Show</h2>

@*This creates a "form" block*@
@using (Html.BeginForm("Update", "WatchLists"))
{
    //There is special markup that we need to use here that is used
    //by Bootstrap to render dynamic forms. The classes defined here are
    //used by bootstrap to style the form and its controls.
    <div class="form-group">
        @Html.DropDownListFor(m => m.TvShows, new SelectList(Model.TvShows.ToList(), "Id", "TvShowName"), "Select Tv Show", new { @class = "form-control" })
    </div>
    //Because the properties in this form relies on the Id in order to save to the database, we
    //need to make this field hidden. This is an arbitrary place for it, just cleaner to put it here.
    @Html.HiddenFor(m => m.Member.Id)
    @Html.HiddenFor(m => m.TvShow.SeasonNumber)
    @Html.HiddenFor(m => m.TvShow.Id)

    //go to getbootstrap.com to find the class name for button
    <button type="submit" class="btn btn-primary">Update</button>

}