@model  SeasonTracker.ViewModels.WatchListFormViewModel
@{
    ViewBag.Title = "Watchlist - " + @Model.TvShow.TvShowName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Display the member name and the TV Shows they are subscribed to*@
<h2>@Model.TvShow.TvShowName : Season @Model.TvShow.SeasonNumber</h2>
@*This creates a form block*@
@using (Html.BeginForm("Save", "WatchLists"))
{
    //There is special markup that we need to use here that is used
    //by Bootstrap to render dynamic forms. The classes defined here are
    //used by bootstrap to style the form and its controls.
    <div class="form-group">
        @Html.LabelFor(m => m.WatchList.ViewingList)
        @Html.TextBoxFor(m => m.WatchList.ViewingList, new { @class = "form-control" })
    </div>
    //Because the properties in this form relies on the Id in order to save to the database, we
    //need to make this field hidden. This is an arbitrary place for it, just cleaner to put it here.
    //@Html.HiddenFor(m => m.Id)
    //go to getbootstrap.com to find the class name for button
    @Html.HiddenFor(m => m.WatchList.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}