@model  SeasonTracker.ViewModels.WatchListViewModel
@{
    ViewBag.Title = "Watchlists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Display the member name and the TV Shows they are subscribed to*@
<h2>@Model.Member.MemberName</h2>
<p>
    @Html.ActionLink("Add", "Add", "WatchLists", new { id = Model.Member.Id}, new { @class = "btn btn-primary" })
</p>
@if (Model.TvShows == null)
{
    <p>No watchlists to display.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tv Show Name</th>
                <th>Season Number</th>
                <th>Number of Episodes</th>
                <th>Viewing List</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.WatchLists)
            {
                <tr>
                    <td>@Html.ActionLink(@item.TvShow.TvShowName, "Edit", "WatchLists", new { id = item.Id }, null)</td>
                    <td>@item.TvShow.SeasonNumber</td>
                    <td>@item.TvShow.NumberOfEpisodes</td>
                    <td>@item.ViewingList</td>
                    <td>Delete</td>
                </tr>
            }
        </tbody>
    </table>
}

